p {
color: darkturquoise;
}

body {
background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f5/44/81/f5448147a34c26bcde31ebe6c88fbc6f.jpg"); 
}

h1 {
color: lightseagreen;
font-style: oblique;
font-size: 30px;
}
h2 {
color :mediumpurple ;
font-style: italic;
font-size: 25px;
}
h3 {
color :lightcoral ;
font-style: italic;
font-size: 20px;
}
